                        <div class="child-card card">
                            <div class="card-content">
                                <h5 class="card-title">{{this.actions.[0].event}}</h5>
                                <p class="card-text">{{this.actions.[0].value}}</p>
                            </div>
                        </div>