<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jingle Judge</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header class="hero is-primary is-bold">
        <div class="hero-body">
            <h1 class="title, has-text-centered is-size-1">JINGLE JUDGE</h1>
            <h2 class="subtitle is-italic, has-text-centered">Naughty or Nice Edition</h2>
        </div>
    </header>
    <nav class="navbar is-dark">
        <div class="navbar-menu">
            <div class="navbar-start">
                {{!-- <a href="/" class="navbar-item">Home</a> --}}
                {{#if loggedIn}}
                <a href = "/" class="navbar-item">Logout</a>
                {{!-- <button id="logout" class="navbar-item button is-primary">Logout</button> --}}
                {{else}}
                <a href="/login" class="navbar-item">Login</a>
                {{/if}}
                <a href="/api/parent" class="navbar-item">Dashboard</a>
            </div>
        </div>
    </nav>
    <main class="section">
        <div class="container">
            <div class="columns">
                {{{body}}}

    </main>
    <aside>
        <!-- Christmas Countdown -->
        !-- <div class="column is-one-fifth"> <!-- Adjusted width to 1/5 -->
            <div id="countdown_container" class="countdown-container">
                    
                <div class="countdown-globe days">
                    <div class="number">24</div>
                    <div class="title">Days</div>
                </div>
                <div class="countdown-globe hours">
                    <div class="number">24</div>
                    <div class="title">Hours</div>
                </div> 
                <div class="countdown-globe minutes">
                    <div class="number">24</div>
                    <div class="title">Minutes</div>
                </div> 
                 <div class="countdown-globe seconds">
                    <div class="number">24</div>
                    <div class="title">Seconds</div>
                </div> 
            </div>
            </div>

            <div class="column is-one-fifth"> <!-- Adjusted width to 1/5 -->
                <div id="days_container" class="days-container">
                        <h1>Days Till Christmas</h1> 
                </div>
            </div>
            <script src="/js/countdown.js"></script>
        </div>
    </aside>
</body>

</html>