
                
                <div class="login-column is-one-fifth">
                    <div id="meter-container">
                        <label for="child-status">Child Status</label>
                        <meter id="child-status" value="78" min="0" max="100"></meter>
                    </div>
                </div>

                <!-- Main Column for Handlebars Partial -->
                <div class="login-column is-one-fifth">

                    <div class="header">Your child's recent behavior report:</div>
                    <div class="card-container">
                        <!-- Card 1 -->
                    {{#each actions}}
                    {{> child-details}}
                    {{/each}}

                    </div>
                </div>