{{!-- if user is not logged in, they will see this screen --}}

<!-- Login/Sign Up Form -->
<div class="column">
  <div class="columns">
    <div class="form-columns">
    
      <!-- Login Form -->
      <div class="login-column">
        <h2 class="text title is-4">Login</h2>
        <form id="login-form"> <!-- Ensure we have an ID here for our form -->
          <div class="field">
            <label class="text label" for="username-login">Username:</label>
            <div class="control">
              <input class="input" type="text" id="username-login" />
            </div>
          </div>
          <div class="field">
            <label class="text label" for="password-login">Password:</label>
            <div class="control">
              <input class="input" type="password" id="password-login" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="text button is-primary" type="submit">Login</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Signup Form -->
      <div class="login-column">
        <h2 class="text title is-4">Signup</h2>
        <form id="signup-form"> <!-- Ensure we have an ID here for our form -->
          <div class="field">
            <label class="text label" for="username-signup">Username:</label>
            <div class="control">
              <input class="input" type="text" id="username-signup" />
            </div>
          </div>
          <div class="field">
            <label class="text label" for="email-signup">Email:</label>
            <div class="control">
              <input class="input" type="text" id="email-signup" />
            </div>
          </div>
          <div class="field">
            <label class="text label" for="password-signup">Password:</label>
            <div class="control">
              <input class="input" type="password" id="password-signup" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="text button is-primary" type="submit">Signup</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script> 
