                <!-- Left Column -->
                <div class="column is-one-fifth">
                    <div id="add-child-cont">
                        <h2 class="text title is-5">Add another Child</h2>
                        <button class="add-btn button is-primary">Add</button>
                    </div>
                </div>

                <!-- Middle Column -->
                <div class="column">
                    {{#each children}}
                    {{> parent-details}}
                    {{/each}}
                </div>
