                <!-- Left Column -->
                <div class="login-column column is-one-fifth">
                    <div id="add-child-cont">
                        <h2 class="text title is-5">Add another Child</h2>
                        <button class="add-btn button is-primary">Add</button>
                    </div>
                </div>

                 {{!-- <div class="field">
            <label class="text label" for="childName-add">Child Name</label>
            <div class="control">
              <input class="input" type="password" id="password-login" />
            </div> --}}

                <!-- Middle Column -->
                <div class="">
                    {{#each children}}
                    {{> parent-details}}
                    {{/each}}
                </div>
