                <!-- Left Column -->
                <div class="column is-one-fifth">
                    <div class="box">
                        <h2 class="title is-5">Add a Child</h2>
                        <button class="button is-primary">Add</button>
                    </div>
                </div>

                <!-- Middle Column -->
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Child 1</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Child 2</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Child 3</p>
                        </div>
                    </div>
                </div>
