body {
  background-image: url('../images/santa.png');
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;


}
.heroBody{
font-size: 80px;
}

.container {
  max-width: 800px;
  /* margin: auto; */
  
}

.columns {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.column {
  margin: 10px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
}

.card {
  margin: 10px;
  width: 100%;
  max-width: 200px;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 5px;
  /* border: 2px solid black; */
  padding: 10px;
  /* background-image: url('../images/snowing-in-globe-no-subject_orig.gif'); */
  /* background-size: 50px; */
  color: black;
  height: 100vh;
}

.days-container h1{
/* writing-mode: vertical-lr; */
font-size: 50px;
color: white;
font-family: 'Franklin Gothic Medium';
position: absolute;
width: 30%;
top: 35%;
text-align: center;
}

.judged-container h1{
  /* writing-mode: vertical-lr; */
  font-size: 50px;
  color: white;
  font-family: 'Franklin Gothic Medium';
  position: absolute;
  top: 90%;
  width: 30%;
  align-items: center;
  }

.countdown-container .countdown-globe {
  display: flex;
  flex-direction: column;
  align-items: top;
  margin-bottom: 10px;
  margin-left: 50%;
  padding-top: 5%;

}

.countdown-container .number {
  font-size: 2em;
  color: black;
  
}

.countdown-container .title {
  font-size: 1.2em;
  color: white;
}

.title.is-5 {
  margin-bottom: 10px;
}

.child-card {
  display: flex;
  /* border: solid black; */
  flex-direction: column;
  width: 100%;
}

.card-container {

  width: 40vw;
  height: 50vw;
}

#meter-container {
  width: 10vw;
}
