body {
  background-image: url('../images/santa.png');
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  color: white;
  height: 100vh;


}

.subtitle {
  color: white;
}

.text {
  color: white;
}

.heroBody{
font-size: 80px;
background: rgba(0, 0, 0, 0.3);
color: white;
}

.container {
  max-width: 800px;
  /* margin: auto; */
  
}
.columns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.login-column {
  justify-content: center;
  width: 50%;
  position: relative;
  left: 25%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  padding: 20px;
  margin: 10px;
  color: white;
}

.column {
  margin: 10px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
}

.card {
  margin: 10px;
  width: 100%;
  max-width: 200px;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 20px;
  /* border: 2px solid black; */
  padding: 10px;
  /* background-image: url('../images/snowing-in-globe-no-subject_orig.gif'); */
  /* background-size: 50px; */
  color: black;
  height: 100vh;
 
  position: fixed;
  top: 10%;
  width: 20%;
}

.days-container h1{
display: inline;
;
font-size: 30px;
color: white;

font-family: 'Franklin Gothic Medium';
position: relative;
width: 100%;
top: 35%;
text-align: center;
}

/* .judged-container h1{
  /* writing-mode: vertical-lr; */
  /* font-size: 100px;
  color: white;
  font-family: 'Franklin Gothic Medium';
  position: absolute;
  top: 90%;
  width: 30%;
  align-items: center;
} */ 

.countdown-container .countdown-globe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* position: fixed; */
  top: 50%;
  margin-bottom: 30px;
  /* margin-left: 50%; */
  padding-top: 5%;
  opacity: 0.9;


}

.countdown-container .number {
  font-size: 2em;
  color: black;
  
}

.countdown-container .title {
  font-size: 1.2em;
  color: white;
}

.title.is-5 {
  margin-bottom: 10px;
}

.child-card {
  display: flex;
  /* border: solid black; */
  flex-direction: column;
  width: 100%;
}

.card-container {

  width: 40vw;
  height: 50vw;
}

#meter-container {
  width: 10vw;
}

#add-child-cont {
  border: solid white;
  position: absolute;
  left: 50%;
}

#add-btn {

}